@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

body {
  padding-top: 60px;
}

#marq {
  font-size: 20px;
}

.center jumbotron {
  width:1000px;
  height:435px;
}

.neoslideshow {
  position:relative;
  width:1000px;
  height:435px;
}

.neoslideshow img {
  position:absolute;
  left:0; top:0;
}

.navbar-inverse {
  background-color: #242D60B3;
  border-color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: pink;
}

.navbar-inverse .navbar-nav > li > a {
  color: #f6f6f6;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: pink;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
